A2_test2/S2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <!-- Root element: forecast -->
  <xs:element name="forecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="weather" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="year" type="xs:integer"/>
              
              <!-- Month restriction: 1 to 12 -->
              <xs:element name="month">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="1"/>
                    <xs:maxInclusive value="12"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <!-- Date restriction: 1 to 31 -->
              <xs:element name="date">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="1"/>
                    <xs:maxInclusive value="31"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <!-- Day of week restriction: Mon, Tues, Wed, Thur, Fri, Sat, Sun -->
              <xs:element name="dayOfWeek">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Mon"/>
                    <xs:enumeration value="Tues"/>
                    <xs:enumeration value="Wed"/>
                    <xs:enumeration value="Thur"/>
                    <xs:enumeration value="Fri"/>
                    <xs:enumeration value="Sat"/>
                    <xs:enumeration value="Sun"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="overall" type="xs:string"/>
              <xs:element name="overallCode" type="xs:string"/>
              <xs:element name="highest" type="xs:integer"/>
              <xs:element name="lowest" type="xs:integer"/>
            </xs:sequence>
            
            <!-- Attribute for weather element -->
            <xs:attribute name="yyyymmdd" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      
      <!-- Attributes for forecast element -->
      <xs:attribute name="queryTime" type="xs:string" use="required"/>
      <xs:attribute name="queryLocation" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
</xs:schema>